   <%- include('partials/header.ejs') %>
   <%- include('partials/navbar.ejs') %>

   <!--<br>-->
   <!--<br>-->
   <!--<br>-->
   <!--<br>-->
     <!-- Front End Design for Armor Page -->
   <!--<body>-->
   <!--    <div style="max-width: 960px; margin: 0 auto; max-height: 800px;">-->
   <!--      <div style="min-width: 960px; margin: 0 auto; min-height: 800px;">-->
   <!--<div class = "container">-->
   <!--   <h1>Blacksmith's Shop</h1>-->
   <!--   <hr>-->
          
   <!--   <div class = "box blue-box">-->
         <!--Created by FantasyStock-->
   <!--      <img class ="armor" src='img/armor/Athenian_war_hero_set.jpg' width='200'>-->
   <!--      <h5>Athenian War Hero set </h5>-->
   <!--      <p>3000 Denar</p>-->
   <!--      <a class="add-cart cart1" href="#">Add to Cart</a>-->
   <!--   </div>-->
           
   <!--   <div class = "box blue-box">-->
         <!--Created By Make It Sharp-->
   <!--      <img class ="armor" src='img/armor/Nemean_Lion_set.jpg' width='210'>-->
   <!--      <h5>Nemian Lion set</h5>-->
   <!--      <p>5000 Denar</p>-->
   <!--      <a class="add-cart cart1" href="#">Add to Cart</a>-->
   <!--   </div>-->
           
   <!--   <div class = "box blue-box">-->
         <!--Created by FantasyStock-->
   <!--      <img class ="armor" src='img/armor/Demigod_set.jpg' width='210'>-->
   <!--      <h5> Demigod set</h5>-->
   <!--      <p>10,000 Denar</p>-->
   <!--      <a class="add-cart cart1" href="#">Add to Cart</a>-->
   <!--   </div>-->
          
   <!--   <div class = "box blue-box" style="margin-top: 2%; margin-left: -1px;" >-->
         <!--Created by FantasyStock-->
   <!--      <img class ="armor" src='img/armor/Gold_finish_armor.jpg' width='210'>-->
   <!--      <h5>Gaelic Armor</h5>-->
   <!--      <p>4000 Denar</p>-->
   <!--      <a class="add-cart cart1" href="#">Add to Cart</a>-->
   <!--   </div>-->
           
   <!--   <div class = "box blue-box" style="margin-top: -33%;">-->
         <!--Created by FantasyStock-->
   <!--      <img class ="potions" src='img/armor/Dreamer_Regalia_armor.jpg' width='210'>-->
   <!--      <h5>Dreamer Regalia Armor</h5>-->
   <!--      <p>900 Denar</p>-->
   <!--      <a class="add-cart cart1" href="#">Add to Cart</a>-->
   <!--   </div>-->
           
      <!--<Created by Skyrim creators -->
   <!--   <div class = "box blue-box" style="margin-top: -22%; margin-left: -8px;">-->
   <!--      <img class ="weapons" src='img/armor/Pegasos_Armor_set.jpg' width='210'>-->
   <!--      <h5>Pegasos Armor</h5>-->
   <!--      <p>7000 Denar</p>-->
   <!--      <a class="add-cart cart1" href="#">Add to Cart</a>-->
   <!--   </div>-->
           
      <!-- Created by Rittik-Designs -->
   <!--   <div class = "box blue-box" style="margin-top: 3%;">-->
   <!--       <img class ="weapons" src='img/armor/Spartan_War_Hero_set.jpg' width='210'>-->
   <!--       <h5>Spartan War Hero set </h5>-->
   <!--       <p>6000 Denar</p>-->
   <!--       <a class="add-cart cart1" href="#">Add to Cart</a>-->
   <!--   </div>-->
   <!--   <div class = "box blue-box" style="margin-top: -57%;">-->
   <!--       <img class ="weapons" src='img/armor/Red_Dragon_Armor.jpg' width='210'>-->
   <!--       <h5>Red Dragon Armor </h5>-->
   <!--       <p>4000 Denar</p>-->
   <!--       <a class="add-cart cart1" href="#">Add to Cart</a>-->
   <!--   </div>-->
   <!--    <div class = "box blue-box" style="margin-top: -9%;">-->
   <!--       <img class ="weapons" src='img/armor/Warcraft_Armor.jpg' width='210'>-->
   <!--       <h5>Warcraft Armor </h5>-->
   <!--       <p>6000 Denar</p>-->
   <!--       <a class="add-cart cart1" href="#">Add to Cart</a>-->
   <!--   </div>-->
   <!--     <div class = "box blue-box" style="margin-top: -24%;">-->
   <!--       <img class ="weapons" src='img/armor/Falcon_Armor.jpg' width='210'>-->
   <!--       <h5>Horus Armor </h5>-->
   <!--       <p>7000 Denar</p>-->
   <!--       <a class="add-cart cart1" href="#">Add to Cart</a>-->
   <!--   </div>-->
       
   <!--    <div class = "box blue-box" style="margin-top: 3%;">-->
   <!--       <img class ="weapons" src='img/armor/Lionhead_Armor.jpg' width='210'>-->
   <!--       <h5>Lion-Head Armor </h5>-->
   <!--       <p>6000 Denar</p>-->
   <!--       <a class="add-cart cart1" href="#">Add to Cart</a>-->
   <!--   </div>-->
     
   <!--    <div class = "box blue-box" style="margin-top: 3%;">-->
   <!--       <img class ="weapons" src='img/armor/Replica_Nazgul_Armor.jpg' width='210'>-->
   <!--       <h5>Nazgûl Armor </h5>-->
   <!--       <p>6000 Denar</p>-->
   <!--       <a class="add-cart cart1" href="#">Add to Cart</a>-->
   <!--   </div>-->
       
        
   <!--    <div class = "box blue-box" style="margin-top: -7%;">-->
   <!--       <img class ="weapons" src='img/armor/Belted_bracers.jpg' width='210'>-->
   <!--       <h5>Belted Bracers </h5>-->
   <!--       <p>6000 Denar</p>-->
   <!--       <a class="add-cart cart1" href="#">Add to Cart</a>-->
   <!--   </div>-->
      
   <!--    <div class = "box blue-box" style="margin-top: 4%;">-->
   <!--       <img class ="weapons" src='img/armor/Snake-eye_Brace.jpg' width='210'>-->
   <!--       <h5>Snake-Eye Brace </h5>-->
   <!--       <p>10,000 Denar</p>-->
   <!--       <a class="add-cart cart1" href="#">Add to Cart</a>-->
   <!--   </div>-->
      
   <!--    <div class = "box blue-box" style="margin-top: -7%;">-->
   <!--       <img class ="weapons" src='img/armor/Replica_ElvenKing_Thranduil_armor.jpg' width='210'>-->
   <!--       <h5>Replica Elvenking Thranduil Armor </h5>-->
   <!--       <p>10,000 Denar</p>-->
   <!--       <a class="add-cart cart1" href="#">Add to Cart</a>-->
   <!--   </div>-->
   <!--   <br>-->
   <!-- <div class = "box blue-box" style="margin-top: 4%;">-->
   <!--       <img class ="weapons" src='img/armor/Pendragon_armor.jpg' width='210'>-->
   <!--       <h5>Pendragon Armor </h5>-->
   <!--       <p>10,000 Denar</p>-->
   <!--       <a class="add-cart cart1" href="#">Add to Cart</a>-->
   <!--   </div>-->
   <!--<div class = "box blue-box" style="margin-top: 14%; margin-left: -930px;">-->
   <!--       <img class ="weapons" src='img/armor/Warden_Shoulderguard.jpg' width='210'>-->
   <!--       <h5>Warden Shoulderguard </h5>-->
   <!--       <p>10,000 Denar</p>-->
   <!--       <a class="add-cart cart1" href="#">Add to Cart</a>-->
          
   <!--   </div>-->
   <!--   </div>-->
   <!--   </div>-->
   <!--   </div>   -->
  

    
 
   <!--<p> DEV NOTE: Armor needs to be implemented </p>-->
   
   <h1>Armorsmith's Shop</h1>
      <hr />
      <!-- Display Case Container -->
      <div id="armor-display" class="container">
         <!--displaying products-->
         <% rows.forEach(function(row){ %>
         <div class="box blue-box product-container">
            <form action="/api/addToCart" method="GET">
               <img src='<%= row.imageUrl %>' width='210' alt='<%= row.imageUrl %>'/>
               <br />
               <h5><%= row.name %></h5>
               <p><%= row.price %> Denars</p>
               <input type="hidden" name="product_id" value='<%= row.productId %>'>
               <input type="hidden" name="product_name" value='<%= row.name %>'>      
               <input type="hidden" name="product_price" value='<%= row.price %>'>
               <input class="add-to-cart" type="submit" value="Add To Cart">
            </form>
         </div>
         <% }); %>
      </div> <!-- ends display case container -->
    
   <%- include('partials/footer.ejs') %>

   </body>
</html>   
