   <%- include('partials/header.ejs') %>
   <%- include('partials/navbar.ejs') %>

      <!-- the shopping cart list of items. CSS will be applied to create
      a column of items. One per row -->
      <div id="shoppingCart">
         
            <% rows.forEach(function(row){ %>
               <div class="shopping-cart-item">
                  <form action="/api/removeFromCart" method="POST">
                     <!-- item image -->
                     <div class="shopping-cart-image">
                        <img src='<%= row.imageUrl %>' width='210' alt='<%= row.imageUrl %>'>
                     </div>
                     
                      <!-- more options need to be added here to increase/decrease 
                           item count -->
                     <div class="shopping-cart-info">
                        <p class="shopping-cart-name" name="product_name"><%= row.name %><p>
                        <p class="shopping-cart-price" name="product_price"><%= row.price %> Denars</p>
                        <p class="shopping-cart-description" name="product_description"><%= row.description %></p>
                     </div>
                     
                     <!-- remove item button -->
                     <div class="remove-from-cart">
                        <button class="btn remove-cart-item">
                           <i class="fa fa-trash"></i>
                        </button>    
                     </div>
                  </form>
               </div> <!-- end cart item -->
            <% }); %>
    
         <!-- checkout form -->
         <form>
            <button type="submit">Place your order</button>
         </form> <!-- end checkout form -->
   
         </div> <!-- end shopping cart -->

   <%- include('partials/footer.ejs') %>
   </body>
</html>