<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<body>
    <div style="max-width: 960px; margin: 0 auto; max-height: 800px; min-height: 800px;">
<!--<div class = "container">-->
<!--   <h1>Blacksmith's Shop</h1>-->
<!--   <hr>-->


 <!-- <div class = "box blue-box">-->
     <!--Created by FantasyStock-->
 <!--    <img class ="weapons" src='img/weapons/golden-rune-sword.jpg' width='200'>-->
 <!--    <h5>Golden Rune Sword</h5>-->
 <!--    <p>2000 Denar</p>-->
 <!--    <a class="add-cart cart1" href="#">Add to Cart</a>-->
 <!-- </div>-->
 <!-- <div class = "box blue-box">-->
     <!--Created By Make It Sharp-->
 <!--    <img class ="weapons" src='img/weapons/falchion-blades.jpg' width='210'>-->
 <!--    <h5>Falchion Blades</h5>-->
 <!--    <p>1000 Denar</p>-->
 <!--    <a class="add-cart cart1" href="#">Add to Cart</a>-->
 <!-- </div>-->
 <!-- <div class = "box blue-box">-->
     <!--Created by FantasyStock-->
 <!--    <img class ="weapons" src='img/weapons/robin-of-locksley-sword.jpg' width='210'>-->
 <!--    <h5> Robin of Locksley Sword</h5>-->
 <!--    <p>1500 Denar</p>-->
 <!--    <a class="add-cart cart1" href="#">Add to Cart</a>-->
 <!-- </div>-->
 <!-- <div class = "box blue-box" style="margin-top: -16%; margin-left: -8px;" >-->
     <!--Created by FantasyStock-->
 <!--    <img class ="weapons" src='img/weapons/blue-gem-dagger.jpg' width='210'>-->
 <!--    <h5>Blue Gem Dagger</h5>-->
 <!--    <p>300 Denar</p>-->
 <!--    <a class="add-cart cart1" href="#">Add to Cart</a>-->
 <!-- </div>-->
 <!-- <div class = "box blue-box" style="margin-top: -49%;">-->
     <!--Created by FantasyStock-->
 <!--    <img class ="potions" src='img/weapons/dragon-scale-dagger.jpg' width='210'>-->
 <!--    <h5>Dragon Scale Dagger</h5>-->
 <!--    <p>900 Denar</p>-->
 <!--    <a class="add-cart cart1" href="#">Add to Cart</a>-->
 <!-- </div>-->
  <!--<Created by Skyrim creators -->
 <!-- <div class = "box blue-box" style="margin-top: -11%;">-->
 <!--    <img class ="weapons" src='img/weapons/auriels-bow.jpg' width='210'>-->
 <!--    <h5>Auriel's Bow</h5>-->
 <!--    <p>1400 Denar</p>-->
 <!--    <a class="add-cart cart1" href="#">Add to Cart</a>-->
 <!-- </div>-->
  <!-- Created by Rittik-Designs -->
 <!-- <div class = "box blue-box" style="margin-top: 3%;">-->
 <!--     <img class ="weapons" src='img/weapons/twin-blades.jpg' width='210'>-->
 <!--     <h5>Gold and Cerulean Twin Blades </h5>-->
 <!--     <p>3000 Denar</p>-->
 <!--     <a class="add-cart cart1" href="#">Add to Cart</a>-->
 <!-- </div>-->
 <!--  <div class = "box blue-box" style="margin-top: 4%;">-->
 <!--     <img class ="weapons" src='img/weapons/Swift-Wing_bow.jpg' width='210'>-->
 <!--     <h5>Swift Winged Bow </h5>-->
 <!--     <p>4000 Denar</p>-->
 <!--     <a class="add-cart cart1" href="#">Add to Cart</a>-->
 <!-- </div>-->
 <!--  <div class = "box blue-box" style="margin-top: 3%;">-->
 <!--     <img class ="weapons" src='img/weapons/Wolfgang_Wilhelm_blade.jpg' width='210'>-->
 <!--     <h5>Wolfgang Wilhelm Blade</h5>-->
 <!--     <p>2000 Denar</p>-->
 <!--     <a class="add-cart cart1" href="#">Add to Cart</a>-->
 <!-- </div>-->
 <!--  <div class = "box blue-box" style="margin-top: -58%; margin-left: -8px">-->
 <!--     <img class ="weapons" src='img/weapons/Mermaid_knife.jpg' width='210'>-->
 <!--     <h5>Mermaid Knife </h5>-->
 <!--     <p>3000 Denar</p>-->
 <!--     <a class="add-cart cart1" href="#">Add to Cart</a>-->
 <!-- </div>-->
 <!--  <div class = "box blue-box" style="margin-top: -93%; margin-left: -2px">-->
 <!--     <img class ="weapons" src='img/weapons/Kitana_War_Fans.jpg' width='210'>-->
 <!--     <h5>Kitana War Fans </h5>-->
 <!--     <p>3000 Denar</p>-->
 <!--     <a class="add-cart cart1" href="#">Add to Cart</a>-->
 <!-- </div>-->
 <!--  <div class = "box blue-box" style="margin-top: 3%;">-->
 <!--     <img class ="weapons" src='img/weapons/Anastasia_Fiery_Dagger.jpg' width='210'>-->
 <!--     <h5>Anastasia Fiery Dagger </h5>-->
 <!--     <p>1000 Denar</p>-->
 <!--     <a class="add-cart cart1" href="#">Add to Cart</a>-->
 <!-- </div>-->
 <!--  <div class = "box blue-box" style="margin-top: 3%;">-->
 <!--     <img class ="weapons" src='img/weapons/Nymeria_whip.jpg' width='210'>-->
 <!--     <h5>Nymeria Whip </h5>-->
 <!--     <p>5000 Denar</p>-->
 <!--     <a class="add-cart cart1" href="#">Add to Cart</a>-->
 <!-- </div>-->
 <!--  <div class = "box blue-box" style="margin-top: 3%;">-->
 <!--     <img class ="weapons" src='img/weapons/Water_Bender_Blade.jpg' width='210'>-->
 <!--     <h5>Water Bender Blade </h5>-->
 <!--     <p>5000 Denar</p>-->
 <!--     <a class="add-cart cart1" href="#">Add to Cart</a>-->
 <!-- </div>-->
 <!--  <div class = "box blue-box" style="margin-top: -94%; margin-left: -8px">-->
 <!--     <img class ="weapons" src='img/weapons/Replica_Sword_of_Elvenking_Thranduil.jpg' width='210'>-->
 <!--     <h5>Sword of Elvenking Thranduil </h5>-->
 <!--     <p>10,000 Denar</p>-->
 <!--     <a class="add-cart cart1" href="#">Add to Cart</a>-->
 <!-- </div>-->
  
    <h1>Blacksmith's Shop</h1>
    <hr />
    <!-- Display Case Container -->
    <div id="weapons-display" class="container">
     <!--displaying weapon products-->
     <% rows.forEach(function(row){ %>
     <div class="box blue-box product-container" id="Product_<%= row.productId %>">
        <form action="/api/addToCart" method="GET">
           <img src='<%= row.imageUrl %>' width='210' alt='<%= row.imageUrl %>'/>
           <br />
           <h5><%= row.name %></h5>
           <p><%= row.price %> Denars</p>
           <input type="hidden" name="product_id" value='<%= row.productId %>'>
           <input type="hidden" name="product_name" value='<%= row.name %>'>      
           <input type="hidden" name="product_price" value='<%= row.price %>'>
           <input class="add-to-cart" type="submit" value="Add To Cart">
        </form>
     </div>
     <% }); %>
       
     </div> <!-- ends display case container -->
    
    </div>
     
    <%- include('partials/footer.ejs') %>
</body>



</html>   
  