<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<body>
    <div style="max-width: 960px; margin: 0 auto; max-height: 800px; min-height: 800px;">
  
    <h1 class="page_title">Weaponsmith's Shop</h1>
    <hr />
    <!-- Display Case Container -->
    <div id="weapons-display" class="display-container">
     <!--displaying weapon products-->
     <% rows.forEach(function(row){ %>
     <div class="box blue-box product-container" id="Product_<%= row.productId %>">
        <form action="/api/addToCart" method="GET">
           <img src='<%= row.imageUrl %>' width='210' alt='<%= row.imageUrl %>'/>
           <br />
           <h5 class="product_name"><%= row.name %></h5>
           <p><%= row.price %> Denars</p>
           <input type="hidden" name="product_id" value='<%= row.productId %>'>
           <input type="hidden" name="product_name" value='<%= row.name %>'>      
           <input type="hidden" name="product_price" value='<%= row.price %>'>
           <input class="add-to-cart" type="submit" value="Add To Cart">
        </form>
     </div>
     <% }); %>
       
     </div> <!-- ends display case container -->
    
    </div>
     
    <%- include('partials/footer.ejs') %>
</body>



</html>   
  